@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url("fonts/open-sans-regular.woff2") format("woff2"),
  url("fonts/open-sans-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url("fonts/open-sans-600.woff2") format("woff2"),
  url("fonts/open-sans-600.ttf") format("ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url("fonts/source-sans-pro-700.woff2") format("woff2"),
  url("fonts/source-sans-pro-700.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #2c2c2c;
  --light-gray: rgba(0, 0, 0, 0.05);
  --red_work-sport: #e94e34;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  background-color: var(--white);width: 1440px;
  min-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--red_work-sport);
  outline: none;
}

img {
  max-width: 100%;
}

.title {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

.header {
  width: 18%;
  flex-shrink: 0;
}

.header__container {
  background-color: var(--black);
  min-height: 1080px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  margin: 100px 0 40px 0;
}

.header__logo .logo__img {
  display: block;
  margin: 0 auto;
}

.navigation {
  width: 100%;
}

.navigation__link {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 0 0 30px;
  border-left: 1px solid var(--black);
}

.navigation__link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header__info {
  margin: 295px 0 0 30px;
}

.contacts__tel {
  display: block;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.4;
  margin: 0 0 10px 0;
}

.contacts__mail {
  display: block;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-decoration: underline;
}

.main-container {
  width: 82%;
  display: flex;
  flex-direction: column;
}

.worksport-info__content {
  padding: 20px 115px 20px 30px;
}

.worksport-info__top {
  display: flex;
  flex-wrap: nowrap;
}

.worksport-info__img {
  display: block;
}

.worksport-info p {
  margin: 22px 0;
}

.worksport-info__bottom {
  display: flex;
  height: 80px;
  background-color: var(--light-gray);
}

.worksport-info__doc {
  margin: 0 35px 0 0;
}

.worksport-info__document {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 100%;
  background-color: var(--gray);
  color: var(--white);
}

.footer {
  margin: 0 0 auto 0;
}

