@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url("fonts/open-sans-regular.woff2") format("woff2"),
  url("fonts/open-sans-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url("fonts/open-sans-600.woff2") format("woff2"),
  url("fonts/open-sans-600.ttf") format("ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url("fonts/source-sans-pro-700.woff2") format("woff2"),
  url("fonts/source-sans-pro-700.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #2c2c2c;
  --light-gray: rgba(0, 0, 0, 0.05);
  --red_work-sport: #e94e34;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  background-color: var(--white);
  width: 1440px;
  min-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--red_work-sport);
  outline: none;
}

img {
  max-width: 100%;
}

*:not(.socials, .svg-sprite) svg path {
  fill: inherit;
}

.title {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

.subtitle {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
}

.heading {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.button {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75;
  text-align: center;
  color: var(--white);
  padding: 8px 20px;
  background-color: var(--red_work-sport);
  text-transform: uppercase;
}

.header {
  width: 18%;
  flex-shrink: 0;
}

.header__container {
  background-color: var(--black);
  min-height: 1080px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  margin: 100px 0 40px 0;
}

.header__logo .logo__img {
  display: block;
  margin: 0 auto;
}

.navigation {
  width: 100%;
}

.navigation__link {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 0 0 30px;
  border-left: 1px solid var(--black);
}

.navigation__link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header__info {
  margin: 295px 0 0 30px;
}

.contacts__tel {
  display: block;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.4;
  margin: 0 0 10px 0;
}

.contacts__mail {
  display: block;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-decoration: underline;
}

.socials {
  list-style: none;
  display: flex;
}

.header__socials {
  margin: 30px 0 0 0;
}

.header__socials .socials__item {
  margin: 0 10px 0 0;
}

.main-container {
  width: 82%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin: 0 0 auto 0;
}

.worksport-info__content {
  padding: 20px 115px 20px 30px;
}

.worksport-info__top {
  display: flex;
  flex-wrap: nowrap;
}

.worksport-info__img {
  display: block;
}

.worksport-info p {
  margin: 22px 0;
}

.worksport-info__bottom {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: var(--light-gray);
}

.worksport-info__doc {
  fill: var(--white);
  margin: 0 30px 0 0;
  flex-shrink: 0;
}

.worksport-info__document {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 100%;
  background-color: var(--gray);
  color: var(--white);
  padding: 0 0 0 25px;
}

.worksport-info__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 0 125px;
}

.worksport-info__arrow {
  fill: var(--red_work-sport);
}

.offer__title {
  padding: 25px 100px;
  margin: 30px 0 0 0;
}

.offer__subtitle {
  display: block;
  color: var(--black);
  width: 250px;
  margin: 0 0 20px 0;
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.offer__item {
  position: relative;
  padding: 60px 100px;
  height: 320px;
  background-color: var(--light-gray);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.offer__item--oneday,
.offer__item--liga {
  width: 50%;
  border-bottom: 1px solid var(--white);
}

.offer__item--oneday {
  border-right: 1px solid var(--white);
  background-image: url(img/worksport-offer-oneday.png);
}

.offer__item--liga {
  background-image: url(img/worksport-offer-liga.png);
}

.offer__item--projects {
  width: 100%;
  background-image: url(img/worksport-offer-projects.png);
}

.offer__description {
  width: 250px;
}

.offer__item--projects .offer__description {
  width: 500px;
}

.offer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid var(--black);
  position: absolute;
  left: 0;
  bottom: 0;
}

.offer__arrow  {
  fill: var(--black);
}

.offer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--black);
}

/* Почему мы? */

.advantages {
  background-image: url(img/advantages__bg.png);
  padding: 57px 114px 30px 114px;
}

.advantages__title {
  text-align: center;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 25px 0;
}

.advantages__item {
  width: calc((100% - 35px)/2);
  display: flex;
  margin: 0 0 30px 0;
}

.advantages__item:nth-child(odd) {
  margin: 0 35px 30px 0;
}

.advantages__picture {
  flex-shrink: 0;
  width: 68px;
  display: flex;
  justify-content: center;
  margin: 10px 30px 0 0;
}

.advantages__heading {
  margin: 0 0 10px 0;
}

.advantages__info span {
  font-weight: 700;
}

/* Форма обратной связи */

.feedback {
  background-color: var(--black);
  padding: 56px 112px;
  color: var(--white);
}

.feedback__container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.feedback__info {
  width: 290px;
}

.feedback__title {
  color: var(--white);
}

.feedback__contacts {
  margin: 0 0 20px 0;
}

.feedback__contacts a {
  display: block;
  color: var(--white);
}

.feedback__socials {
  margin: 40px 0 0 0;
}

.feedback__socials .socials__item {
  margin: 0 30px 0 0;
}

.feedback-form {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.feedback-form__input {
  height: 22px;
  width: 100%;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white);
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--black);
}


.feedback-form__group:nth-child(3) {
  width: 100%;
}

.feedback-form__group:first-child {
  margin: 0 30px 55px 0;
}

.feedback-form__group:first-child .feedback-form__input,
.feedback-form__group:nth-child(2) .feedback-form__input {
  width: 265px;
}

.feedback-form__input:focus {
  outline: none;
  border-bottom: 1px solid var(--white);
}

.feedback-form__button {
  color: var(--white);
  border: none;
  outline: none;
  margin: 25px 0 0 0;
}

.feedback-form__help {
  font-size: 12px;
  line-height: 1.5;
  padding: 10px 0 0 0;
  color: var(--red_work-sport);
}



